<nav class="navbar navbar-expand-lg bg-dark text-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 fw-bold py-3 rounded fs-2">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Consepts
          </a>
          <ul class="dropdown-menu p-3">
            <li>
              <a class="dropdown-item my-2 rounded" routerLink="observable"
                >Observable</a
              >
            </li>
            <li>
              <a class="dropdown-item my-2 rounded" routerLink="subject"
                >Subject</a
              >
            </li>
            <li>
              <a class="dropdown-item my-2 rounded dropdown" routerLink="signal"
                >signals</a
              >
            </li>
            <li>
              <a class="dropdown-item my-2 rounded dropdown" routerLink="file"
                >file</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
